<h1 class="text-2xl font-bold mb-4">Member Login</h1>

<form action="/login" method="POST" class="space-y-4 w-[400px]">
  <% if (error) { %><div class="text-red-600"><%= error %></div><% } %>

  <input type="text" name="username" placeholder="Email" class=" border p-2 w-full rounded">
  <input type="password" name="password" placeholder="Password" class="border p-2 w-full rounded">
  <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Login</button>
</form>
